.list-view-image {
  height: auto;
  width: 100px;
  padding-right: 20px;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.horizontal-list li {
  float: left;
  padding: 10px;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.grid-view > div {
  flex: 0 1 auto;
  margin: 5px;
}

.filter-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
}

@media (min-width: 768px) {
  .horizontal-list li {
    padding: 10px;
  }
}
